 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
ul, li {
  margin: 0;
  padding: 0;
}

body {
  background: lightgrey;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  color: #333;
  cursor: crosshair;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  background-color: white;
}

.introduction {
  width: 500px;
  height: 300px;
  margin: auto;
  padding: 20px 30px;
  border: 3px solid grey;
  border-radius: 4px;
  text-align: center;
  background-color: lightgrey;
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;

  h1 {
    font-size: 4em;
  }

  p {
    font-size: 1.2em;
  }

  li {
    display: inline-block;
    margin: 5px;
    width: 30%;
    font-size: 1.4em;
  }

  button {
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    background-color: white;
  }
}

// Fight

.target {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.possum {
  width: 300px;
  height: 196px;
  background-image: url('../images/possum-sprite.png');
  background-position: 0 0;
}

.deadTarget {
  background-color: red;
}

.player {
  width: 600px;
  height: 300px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 3;
}

.shotgun {
  background-image: url('../images/shotgun.png');
  background-size: 100%;
}

.rifle {
  background-image: url('../images/rifle.png');
  background-size: 100%;
}

.obstacle {
  width: 200px;
  height: 200px;
  background-color: yellow;
  position: fixed;
  top: 30px;
  right: 600px;
  z-index: 2;
}

.attack {
  background-size: 70%;
  background-repeat: no-repeat;
  background-color: HSLA(0, 71%, 45%, .5);
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
  z-index: 4;
  display: none;
}

.attack-possum {
  background-image: url('../images/possum-attack.png');
}