 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
ul, li {
  margin: 0;
  padding: 0;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  cursor: crosshair;
}

.container {
  width: 100%;
  height: 100%;
  min-height: 600px;
  margin: 0 auto;
  position: relative;
}

.introduction {

width: 500px;
margin: 50px auto;
padding: 20px;
text-align: center;
background-color: lightgrey;

  li {
    display: inline-block;
  }
}
.target {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.possum {
  width: 300px;
  height: 196px;
  background-image: url('../images/possum-sprite.png');
  background-position: 0 0;
}

.deadTarget {
  background-color: red;
}

.player {
  width: 600px;
  height: 300px;
  background-color: blue;
  position: fixed;
  bottom: 0;
  z-index: 99;
}

.obstacle {
  width: 200px;
  height: 200px;
  background-color: yellow;
  position: fixed;
  top: 30px;
  right: 600px;
  z-index: 2;
}