 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
ul, li {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

button {
  border: none;
}

body {
  background: lightgrey;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  color: #333;
  cursor: crosshair;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  background-color: white;
}

.menu-background {
  height: 100%;
  width: 100%;
  background: url("../images/trailer-menu.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// Modals

.modal-container {
  width: 500px;
  height: 350px;
  margin: auto;
  padding: 20px 30px;
  border: 3px solid white;
  border-radius: 6px;
  text-align: center;
  background-color: HSLA(0, 10%, 4%, .8);
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
  color: white;

  h1 {
    font-size: 4em;
    margin: .5em 0 .5em 0;
  }

  h2 {
    font-size: 4em;
    margin: .67em 0;
  }

  img {
    height: 40px;
  }

  p {
    font-size: 1.4em;
    margin-bottom: 25px;
  }

  li {
    display: inline-block;
    margin: 5px;
    width: 30%;
  }

  button {
    font-size: 1.4em;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px;
    width: 100%;
    border: 1px solid white;
    background-color: HSLA(0, 10%, 4%, 0);
    border-radius: 4px;

    &:hover {
      color: black;
      background-color: white;
    }
  }
}

.fightModal {
  background-color: HSLA(107, 39%, 54%, .7);
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
  z-index: 4;
  display: none;

  .modal-container {
    height: 300px;

    button {
      width: 60%;
      position: absolute;
      bottom: 40px; right: 0; left: 0;
      margin: 0 auto;
    }

    p {
      font-size: 1.8em;
      line-height: 1.4em;
    }
  }
}

.death {
  background-color: HSLA(0, 71%, 45%, .7);
}

// Stats Bar

.stats {
  position: absolute;
  height: 90px;
  width: 100%;
  padding: 1% 5%;
  bottom: 0; right: 0; left: 0;
  border-top: 3px solid white;
  background-color: HSLA(0, 10%, 4%, .8);
  overflow: auto;
  text-align: center;
  color: white;

  h3 {
    font-size: 1.6em;
    margin-bottom: 10px;
  }

  .playerStats {
    float: left;
  }

  .targetStats {
    float: right;
  }
}

.stats > div {
  width: 20%;
}

.healthBar {
  width: 100%;
  height: 20px;
  border: 1px solid white;
  border-radius: 3px;
  background-color: white;
  overflow: auto;
}

.redline {
  float: left;
  background-color: HSLA(0, 71%, 45%, 1);
  height: 100%;
  width: 100%;
}


// Fight

.target {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background-size: 400%;
  background-position: 0 0;
}

.possum {
  width: 300px;
  height: 196px;
  background-image: url('../images/possum.png');
}

.armadillo {
  width: 300px;
  height: 196px;
  background-image: url('../images/armadillo.png');
}

.deer{
  width: 300px;
  height: 375px;
  background-image: url('../images/deer.png');
}

.player {
  width: 500px;
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 3;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.shotgun {
  background-image: url('../images/shotgun.png');
  background-size: 100%;
}

.rifle {
  background-image: url('../images/rifle.png');
  background-size: 100%;
}

.obstacle {
  width: 200px;
  height: 200px;
  background-color: yellow;
  position: fixed;
  top: 30px;
  right: 600px;
  z-index: 2;
}

.attack {
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-color: HSLA(0, 71%, 45%, .5);
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
  height: 100%;
  z-index: 4;
  display: none;
}

.attack-possum {
  background-image: url('../images/possum-attack.png');
}

.attack-armadillo {
  background-image: url('../images/armadillo-attack.png');
}

.attack-deer {
  background-image: url('../images/deer-attack.png');
}

// Level scenery

.background {
  height: 100%;
  width: 100%;
  background-size: 100%;
}

.background-yard {
  background: url("../images/trailer1.jpg") no-repeat bottom center fixed;
}

.background-desert {
  background: url("../images/trailer2.jpg") no-repeat bottom center fixed;
}

.background-road {
  background: url("../images/trailer3.jpg") no-repeat bottom center fixed;
}