<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Game</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>

    <div class="container">
      <div class="introduction">
        <h1>This here's a game bout shootin' vermin.</h1>
        <p>Choose a weapon, kill em' dead.</p>
        <ul>
          <li><button name="pistol" class="playerChoice">Pistol</button></li>
          <li><button name="shotgun" class="playerChoice">Shotgun</button></li>
          <li><button name="rifle" class="playerChoice">Assault Rifle</button></li>
        </ul>
      </div>
    </div>

    <script id="start">
      <div class="obstacle <%= name %>"></div>
      <div class="target <%= name %>"></div>
      <div class="player <%= name %>"></div>
    </script>

    <script id="fight">
      <div class="attack attack-<%= enemy.species %>"></div>
      <div class="modal death">
        <h2> You got mauled by a <%= enemy.species %>.</h2>
        <a href="index.html"><button>Try Again</button></a>
      </div>
      <div class="modal win">
        <h2> You wasted that <%= enemy.species %>.</h2>
        <button class="nextLevel">Next Level</button>
      </div>
      <div class="modal finale">
        <h2> Congratulations! You wasted that <%= enemy.species %> and successfully rid the trailer park of all wildlife.</h2>
        <a href="index.html"><button>Play Again</button></a>
      </div>
      <div class="obstacle"></div>
      <div class="target <%= enemy.species %>"></div>
      <div class="player <% if(weapon === 'pistol'){ %> pistol <% }; %><% if(weapon === 'shotgun'){ %> shotgun <% }; %><% if(weapon === 'rifle'){ %>rifle<% }; %>">
      </div>
    </script>

    <script id="gameover">
      <div class="obstacle <%= name %>"></div>
      <div class="target <%= name %>"></div>
      <div class="player <%= name %>"></div>
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
