<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Game</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>

    <div class="container">
      <div class="introduction">
        <h1>This here game's bout shootin' vermin.</h1>
        <p>Choose a weapon, kill em' dead. Them's mean though.</p>
        <ul>
          <li><button name="pistol" class="playerChoice">Pistol</button></li>
          <li><button name="shotgun" class="playerChoice">Shotgun</button></li>
          <li><button name="rifle" class="playerChoice">Assault Rifle</button></li>
        </ul>
      </div>
    </div>

    <script id="start">
      <div class="obstacle <%= name %>"></div>
      <div class="target <%= name %>"></div>
      <div class="player <%= name %>"></div>
    </script>

    <script id="fight">
      <div class="obstacle"></div>
      <div class="target"></div>
      <div class="player"></div>
    </script>

    <script id="gameover">
      <div class="obstacle <%= name %>"></div>
      <div class="target <%= name %>"></div>
      <div class="player <%= name %>"></div>
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
